<div class="main-container" fxFlex fxLayout="column" fxFlex="100%">
    <div class="Title" fxFlex fxLayout="column">
        <div class="TagTitle" fxFlexAlign="center">
           Shoppers
        </div>
        <div class="TagSubText" fxFlexAlign="center">
            <p style="white-space: pre-wrap"> Purchase PieCredits from local Businesses at up to <b>20 <div class="tiny"><img src="../assets/svg/icons/percentage.svg"></div> OFF </b>while supporting Nonprofits </p>
        </div>
        <div class="TagSubTextTitle" fxFlexAlign="center">
            <p> <b>Why use PieShares</b></p>
        </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="space-between center" fxLayoutAlign="space-evenly">
        <div fxFlex="20%" fxFlex.xs="100%" class="quote-wrapper">
            <div class=images>
                <img id="card-1" mat-card-image src="../assets/svg/icons/give back.svg">
                <h3 >Give Back To Your Community</h3>
            </div>&nbsp;
        </div>

        <div fxFlex="20%" fxFlex.xs="100%" class="quote-wrapper">
            <div class=images>
                <img id="card-2" mat-card-image src="../assets/svg/icons/local business.svg">
                <h3 >Buy From Local Businesses</h3>
            </div>&nbsp;
        </div>

        <div fxFlex="20%"  fxFlex.xs="100%"class="quote-wrapper">
            <div class=images>
                <img id="card-3" mat-card-image src="../assets/svg/icons/support nonprofits.svg">
                <h3 >Support Your Favorite Nonprofits</h3>
            </div>&nbsp;
        </div>

        <div fxFlex="20%" fxFlex.xs="100%" class="quote-wrapper">
            <div class=images>
                <img id="card-4" mat-card-image src="../assets/svg/icons/save money.svg">
                <h3 >Save Money</h3>
            </div>&nbsp;
        </div>
    </div>
    
</div>