
$dark-purple: #DA63A1;
$light-purple: #E48CBA;
$dark-orange: #F68D41; 
$light-orange: #F8AA72;
$dark-green: #58A635;
$light-green: #84C549;
$dark-blue:  #18809A;
$light-blue:  #68CDE7;
$yellow: #F5CE0A;
$black: #58585A;
$soft-white: #f9f9ff;
